{% extends 'base.html.twig' %}
{% block main %}
    <div class="page-header">
        <h1>Home page</h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
               <p>
                  <i class="fa fa-users" aria-hidden="true"></i> Game Balancer application

                </p>
            </div>
        </div>
    </div>
{% endblock %}